<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h2>Home</h2>
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}!</p>
        <p><a href="{% url 'logout' %}">Logout</a></p>
        <p><a href="{% url 'dashboard:dashboard_home' %}"><button>Dashboard</button></a></p>
    {% else %}
        <p>Welcome, guest!</p>
        <p><a href="{% url 'login' %}"><button>Login</button></a></p>
        <p><a href="{% url 'register' %}"><button>Register</button></a></p>
    {% endif %}
</body>
</html>